#file-input {
    display: none;
}

.settings {
    width: 90%;
    margin: 20px auto;


}

.settings-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-title {
    color: red;
    font-size: 30px;
    cursor: pointer;
}

.delete-title {
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.settings-form {
    display: flex;
    flex-direction: column;
}

.settings-profile-picture {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.settings-profile-picture>img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.picture-icon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
}

.settings-form>label {
    font-size: 20px;
    margin-top: 20px
}

.settings-form>input {
    color: grey;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

.settings-submit {
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: black;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}